* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.btn {
    background-color: white;
    color: black;
    border: 2px solid blue;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.img {
    width: 200px;
    margin: 0 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}